.note-editor {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid #ddd !important;
    margin: auto 1.5em;
}

.note-statusbar {
    display: none;
}

.note-toolbar.panel-heading {
    background: none;
    padding: 0;
    margin: 0 0 0 10px;
    border: none;
}

.note-popover .popover-content>.btn-group, .panel-heading.note-toolbar>.btn-group {
  margin: 0;
}

button.note-btn.btn.btn-default.btn-sm {
    border: none;
    padding: 0 15px 5px;
}

.note-editable.panel-body {
    min-height: 80px;
    max-height: 60vh;
    line-height: 0.9;
}

.note-editor.note-frame .note-placeholder {
    padding: 6px 10px;
}

.note-placeholder {
    color: #d8d8d8;
}
